@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap'); 
body{
    height: 3000px;
    margin: 0;
    padding-top: 60px;
    background-color: rgb(235, 235, 94);
    background-image: url(background-pattern.svg) ;
}

.flexbox-background{
height: 3000px;
margin: 0;
padding: 0;
background-color: none;
display: flex;
flex-direction: row;
flex: 0.5;
justify-content: center;}

.central-column{ 
    height: 3000px;
    margin: 0;
    padding: 10px;
    padding-top: 10px;
    top: 270px;
    width: 800px;
    background-color: rgb(165, 165, 167);
    color: rgb(8, 34, 70);
    text-align: left;
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    position: absolute;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgb(79, 82, 66);

;}
   