

.landing-card{
height: 200px;
margin: 0;
padding: 0;
padding-bottom: 5px;
background-color: rgb(8, 34, 70);
border: 0;
box-shadow: 0px 5px 2px rgb(8, 34, 70);
color: rgb(235, 235, 94);;
font-family: sans-serif;
font-size: xx-large;
font-weight: 500;
left: 0;
right: 0;
display: flex;
flex: 1;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}
